@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; /* só funciona quando a tela tem altura definida */
  height: 100vh;
  font-size: 16px; /* padrão */
  background-color: #c0f5f5;
  color: white;
  font-family: "Roboto Condensed", Arial, sans-serif;
  line-height: 1.3;
}

.todoList {
  width: 100%;
  max-width: 600px;
}

.todoList header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px;
  background-color: #de3f53;
  font-size: 1.3em;
  text-align: center;
}

.wrapper-list ul.list {
  list-style: none;
}

.wrapper-list ul.list li {
  position: relative; /* para alinhar com o button.remove */
  background-color: #262e4c;
  border-bottom: 1px solid #1c2340;
  display: flex;
  align-items: center;
  padding: 20px;
  transition: background-color 200ms ease;
}

/* .wrapper-list ul.list li.removed {
  animation: collapseItem 300ms ease;
} */

.wrapper-list ul.list li.hidden {
  display: none;
}

.wrapper-list ul.list li:hover {
  background-color: #323b5c;
}

.wrapper-list ul.list li:hover button.remove {
  opacity: 1;
}

.wrapper-list ul.list li .check {
  position: relative; /* relativo ao pai dele, o .done */
  background-color: #404a6e;
  border-radius: 25%;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 200ms ease;
}

/* class done aplicada no js */

.wrapper-list ul.list .check:hover,
.wrapper-list ul.list .done .check {
  background-color: #171d37;
}

.wrapper-list ul.list .done .check::after {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 25%;
  background-color: aquamarine;
}

/* .by Thiago - não funcionou aqui */
/* .wrapper-list ul.list .done .task {
  text-decoration: line-through;
} */

/* usei essa para ser aplicada com toggle no js */
.wrapper-list ul.list .task {
  text-decoration: line-through;
}

.wrapper-list ul.list li button.remove {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  background-color: red;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0; /* sumir e só aparecer quando passar o mouse no li:hover com opacity 1 */
  transition: opacity 200ms ease;
}

.wrapper-list ul.list li button.remove::after {
  content: 'x';
  color: white;
  display: block;
}

.todoList footer {
  background-color: #171d37;
}

.todoList footer input {
  background-color: #171d37;
  border: none;
  outline: none;
  width: 90%;
  padding: 20px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 1.2em;
  color: white;
}

/* 
@keyframes collapseItem {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
} */